.main {
    background-color: #fcf6e9;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    overflow-y: hidden;
  }
  
  .text {
    color: #08491e;
    font-size: 42px;
    font-family: 'Trocchi', serif;
    width: fit-content;
    height: fit-content;
    margin: 20px;
  }
  
  .form {
    width: fit-content;
    background-color: rgba(8, 73, 30, 0.11);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .field {
    margin: 2rem;
    font-size: 18px;
    font-family: 'Trocchi', serif;
    color: #08491e;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
  }
  
  .inputs {
    margin: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .confirm {
    margin: 20px;
    padding: 7px 10px;
    font-size: 25px;
    background-color: #08491e;
    font-family: 'Trocchi', serif;
    border-radius: 20px;
    box-shadow: none;
  }
  
  .total {
    font-size: 25px;
  }
  
  .leaf1 {
    position: absolute;
    left: -10rem;
    top: 10rem;
    overflow-x: hidden;
  }
  
  .leaf2 {
    position: absolute;
    right: -2rem;
    top: 30rem;
    overflow-x: hidden;
  }
  
  .leaf3 {
    position: absolute;
    top: 88%;
    left: -2rem;
  }
  
  /* Grand écran (PC) : garde l'alignement label à gauche, input à droite */
  @media only screen and (min-width: 769px) {
    .form {
      flex-direction: row;
    }
   
    .field {
      flex-direction: column;
      
    }
  
    .inputs {
      flex-direction: column;
    }
  
    .leaf1, .leaf3 {
      display: block;
      overflow-x: hidden;
    }

    .leaf2{
      display: none;
    }

    .name::placeholder, .phone::placeholder, .mail::placeholder, .adresse::placeholder{
      visibility: hidden;
    }

    .main{
      overflow-x: hidden;
    }
  }
  
  /* Responsive pour les tablettes (largeur maximale 768px) */
  @media only screen and (max-width: 768px) {
    .leaf1, .leaf2, .leaf3 {
      display: none;
    }
  

    .main {
      padding: 2rem;
      overflow-x: hidden;
    }
  
    .text {
      font-size: 36px;
    }
  
    .form {
      flex-direction: column;
      width: 80vw;
    }
  
    .field {
      display: none;
    }

    .adresse{
      width:10px;
    }
    
  }
  
  /* Responsive pour les téléphones (largeur maximale 480px) */
  @media only screen and (max-width: 480px) {

    

    .leaf1, .leaf2, .leaf3 {
      display: none;
    }
  
    .main {
      padding: 1rem;
      overflow-x: hidden;
    }
  
    .text {
      font-size: 28px;
    }
  
    .form {
      flex-direction: column;
      width: 90vw;
    }
  
    .field, .inputs {
      margin: 1rem;
      gap: 1.5rem;
      width: 100%;
    }
  
    .confirm {
      font-size: 18px;
      padding: 4px 6px;
    }
  
    .total {
      font-size: 18px;
    }
  }
  