.main{
    background-color: #fcf6e9;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem;
}

.text{
    color: #08491e;
    font-size: 42px;
    font-family: 'Trocchi', serif;
    width: fit-content;
    height: fit-content;
    margin: 20px;
}

.form{
    width: fit-content;
    background-color: rgba(8, 73, 30,0.11);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.field{
    margin: 2rem;
    font-size: 18px;
    font-family: 'Trocchi', serif;
    color: #08491e;
    justify-content: space-around;
    width: 100%;
}

.inputs{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.confirm{
    margin: 20px;
    padding: 7px 10px;
    font-size: 25px;
    background-color: #08491e;
    font-family: 'Trocchi', serif;
    border-radius: 20px;
    box-shadow: none;
}

p{
    margin: 3rem;
}

Input{
    margin: 3rem;
}